{{extend 'layout.html'}}

    <header class="container-fluid background">
      <div>
        <h1 class="title" style="font-family:fantasy;">UCSC Slugbook Exchange</h1>
      </div>
    </header>

<h1>{{=title}}</h1>
<h3><i>{{=subtitle}}</i></h3>

<div id="target"></div>

<script id="template" type="text/ractive">

  {% #if form_vis === true %}
  <div id="write_msg" intro='fade' outro='fade'>
    <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
      <div class="form-group" id="no_table_message__row">

        <label class="control-label col-sm-3" for="no_table_message" id="no_table_message__label"> Title </label>
        <div class="col-sm-9">
          <textarea value="{% active_draft_name %}" class="text form-control" cols="40" id="no_table_message" name="title" rows="10">
          </textarea>
          <span class="help-block"></span>
        </div>

        <label class="control-label col-sm-3" for="no_table_message" id="no_table_message__label"> Message </label>
        <div class="col-sm-9">
          <textarea value="{% active_draft_desc %}" class="text form-control" cols="40" id="no_table_message" name="message" rows="10">
          </textarea>
          <span class="help-block"></span>
        </div>

        <div class="form-group" id="messages_image__row"><label class="control-label col-sm-3" for="messages_image" id="messages_image__label">
        Image</label><div class="col-sm-9">
        <input class="upload input-file" id="messages_image" name="image" type="file">
        <span class="help-block"></span></div></div>

        <div class="form-group" id="submit_record__row">
          <div class="col-sm-9 col-sm-offset-3">
            <input class="btn btn-primary" type="submit" value="Submit" on-click="send-msg"/>
            <input class="btn btn-primary" type="cancel" value="Cancel" on-click="cancel-edit"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% /if %}

  <div class="content_header">
    <div id="item_creation" class="lfloat">
      <a class="button" href={{=URL('default', 'index')}}>{{=icon_circle_arrow_left}} Boards</a>
      {{if auth.user_id is None:}}
      {{else:}}
      <a class="button" id="button_write" on-click="create-message">{{=icon_plus}} Create Post</a>
      {{pass}}
    </div>
    <div id="main_login" class="rfloat">
      {% #if del_vis === true %}
      <a class="button delete" intro='fade' outro='fade' on-click="delete-messages"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;DELETE</a>
      {% /if %}
      {{if auth.user_id is None:}}
      {{=A('Sign Up', _class='button', _href=URL('default', 'user', args=['register']))}}
      {{=A('Sign In', _class='button', _href=URL('default', 'user', args=['login']))}}
      {{else:}}
      {{=A('Sign Out', _class='button', _href=URL('default', 'user', args=['logout']))}}
      {{pass}}
    </div>
  </div>

  <div class="message-wrapper">
    {% #if msg_len < 1 %}
      {% #if (page > 0) && (totalmessages <= 0) %}
      <span>SOMETHING BAD HAPPENED!</span>
      {% /if %}
      <span>No posts.</span>
    {% /if %}
    {% #msg_dict:iter %}
    <div class="message-box lfloat">
      <div class="message-date lfloat">
        Last edit: {% msg_time %}
      </div>
      {% #if user_id === creator %}
      <div class="message-editors rfloat">
      {% #if (typeof marked_boards !== 'undefined') && (marked_boards.indexOf(id) >= 0)%}
        <a id="message-edit"><i class="fa fa-pencil" data-msgid={% id %} on-click="edit-msg"/></a>
        <a id="msg-delete"><i class="fa fa-times selected" data-msgid={% id %} on-click="mark-msg"/></a>
      {% else %}
        <a id="message-edit"><i class="fa fa-pencil" data-msgid={% id %} on-click="edit-msg"/></a>
        <a id="msg-delete"><i class="fa fa-times" data-msgid={% id %} on-click="mark-msg"/></a>
      {% /if %}
      </div>
      {% /if %}
      <div class="message-header">
        {% msg_title %}
      </div>
      <div class="message-contents">
        {% msg_id %}
      </div>

      {% #if image %}
        <center> <img height="200" width="200" src="{{=URL('default', 'download')}}/{% image %}" /> </center>
      {% /if %}


      <div class="message-creator">
        by: {% creator_name %}
      </div>
    </div>
    {% /msg_dict %}
  </div>


  {% #if loading %}
  <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
  </div>
  {% /if %}

  <div class="page-footer">
    {% #if (totalmessages > items_per_page) || page %}
    <div class="page-info">
      Page {% page + 1 %} / {% Math.ceil(totalmessages/items_per_page) %}
    </div>
    {% /if %}

    {% #if page %}
    <a class="button" on-click="load-prev">{{=icon_circle_arrow_left}} Previous</a>
    {% /if %}
    {% #if totalmessages > items_per_page %}
    <a class="button" on-click="load-next">Next {{=icon_circle_arrow_right}}</a>
    {% /if %}
  </div>
</script>


<!--- BEGIN ANGULAR FNS --->
<script>
$(function() {
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      msg_dict: {},
      items_per_page: 0,
      totalmessages: 0,
      page: 0,
      draft_id: "",
      active_draft_name: "",
      active_draft_desc: "",
      image: true,
      user_id: 0,
      msg_len: {},
      marked_boards: [],
      del_vis: false,
      form_vis: false,
      loading: true
    },
  });

  load_messages();
  setInterval(function() {load_messages()}, 10000);

  // Reloads the list of boards.
  function load_messages() {
    var curr_page = MAIN.get('page');
    $.ajax("{{=URL('default', 'load_messages', args=[id])}}",
      {
        data: {
          page: curr_page
        },
        method: 'POST',
        success: function (data) {
          if (data['msg_len'] === 0 && data['page'] > 0) {
            MAIN.set('page', data['page'] - 1);
            load_messages();
            return;
          }
          MAIN.set('msg_dict', data['msg_dict']);
          MAIN.set('items_per_page', data['items_per_page']);
          MAIN.set('totalmessages', data['totalmessages']);
          MAIN.set('loading', false);
          MAIN.set('user_id', data['user_id']);
          MAIN.set('msg_len', data['msg_len']);
          MAIN.set('page', data['page']);
        },
        fail: function() {
          $("#server_error").show();
        }
      }
    );
  }

  function send_message(msg_title, msg_desc) {
    var call_draft_id = MAIN.get('draft_id');
    $.ajax("{{=URL('default', 'add_message')}}",
            {
              data: {
                id: call_draft_id,     // request.vars.id
                msg_title: msg_title,    // request.vars.brd_name
                msg_desc: msg_desc,     // request.vars.brd_desc
                msg_brd: "{{=id}}"
              },
              method: 'POST',
              success: function() {
                load_messages();
              },
              fail: function() {
                $("#server_error").show();
              }
            }
    );
  }

  // Listens for a board being marked.
  MAIN.on("mark-msg", function(e) {
    var t = $(e.original.target); // This is the button on which we clicked.
    var clicked_id = t.data('msgid');  // To set it, you could do .data('msgid', 'my id');
    //get list of marked boards
    var marked_boards = MAIN.get('marked_boards');
    // Check if board is already in list
    var board_index = marked_boards.indexOf(clicked_id);
    if (board_index >= 0) {
      // If is, remove
      marked_boards.splice(board_index, 1);
      //Make X default colour
      t.removeClass('selected');
    } else {
      // If not, add
      marked_boards.push(clicked_id);
      //Make X red colour
      t.addClass('selected');
    }
    // If marked_boards size < 1, hide delete button else, show it.
    if (marked_boards.length < 1) {
      MAIN.set('del_vis', false);
    } else {
      MAIN.set('del_vis', true);
    }
    MAIN.set('marked_boards', marked_boards);
  });

  // Listens for link to edit board
  MAIN.on("edit-msg", function(e) {
    // Make edit form visible
    MAIN.set('form_vis', true);
    // First, we send to the server the current draft, to avoid losing it.
    var t = $(e.original.target); // This is the button on which we clicked.
    var clicked_id = t.data('msgid');  // To set it, you could do .data('msgid', 'my id');
    var msg_dict = MAIN.get('msg_dict');
    // First, display the draft text in the editing area.
    var msg_index = -1;
    for (var i = 0; i < msg_dict.length; i++)
    {
      if (msg_dict[i]['id'] === clicked_id) {
        msg_index = i;
        break;
      }
    }
    MAIN.set('active_draft_name', msg_dict[msg_index]['msg_title']);
    MAIN.set('active_draft_desc', msg_dict[msg_index]['msg_id']);
    // Sets the id of the draft being edited.
    MAIN.set('draft_id', msg_dict[msg_index]['id']);
  });

  // This code is called when the submit button is pressed.
  MAIN.on("send-msg", function(e) {
    var msg_name = MAIN.get('active_draft_name');
    var msg_desc = MAIN.get('active_draft_desc');
    if ($.trim(msg_name).length > 0) {
      // Send content back to server.  false = message is not a draft.
      send_message(msg_name, msg_desc);
      MAIN.set('active_draft_name', '');
      MAIN.set('active_draft_desc', '');
      MAIN.set('draft_id', '');
      // Make form invisible
      MAIN.set('form_vis', false);
    }
    return false;
  });

  // This code is called when the create message button is pressed.
  MAIN.on("create-message", function(e) {
      MAIN.set('active_draft_name', '');
      MAIN.set('active_draft_desc', '');
      MAIN.set('draft_id', '');
      MAIN.set('image', '');
      // Make form invisible
      MAIN.set('form_vis', true);
    return false;
  });

  // This code is called when the cancel button is pressed.
  MAIN.on("cancel-edit", function(e) {
    MAIN.set('active_draft_name', '');
    MAIN.set('active_draft_desc', '');
    MAIN.set('draft_id', '');
    // Make form invisible
    MAIN.set('form_vis', false);
  });

  // This code is called when the delete button is pressed.
  MAIN.on("delete-messages", function(e) {
    // get the marked boards
    var marked_boards = MAIN.get('marked_boards');
    var msg_dict = MAIN.get('msg_dict');
    var del_brds = [];
    for (var i = 0; i < marked_boards.length; i++) {
      del_brds.push(msg_dict[i]['id']);
    }
    // send ajax to delete board list.
    $.ajax("{{=URL('default', 'delete_messages', user_signature=True)}}",
      {
        data: {
          messages: marked_boards     // request.vars.boards
        },
        method: 'POST',
        success: function() {
          MAIN.set('marked_boards', []);
          load_messages();
        },
        fail: function() {
          $("#server_error").show();
        }
      }
    );
    // unselect boards
    MAIN.set('marked_boards', []);
    MAIN.set('del_vis', false);
  });

  // This code is called when the page is increased.
  MAIN.on("load-next", function(e) {
    var page = MAIN.get('page');
    MAIN.set('page', page + 1);
    load_messages();
  });

  MAIN.on("load-prev", function(e) {
    var page = MAIN.get('page');
    MAIN.set('page', page - 1);
    load_messages();
  });

});
</script>